@charset "UTF-8";
/* CSS Document */
body {
	background-image:url(file:///Users/Mnex/Desktop/Fall%202019%20College/CSIS%201430/background.jpg);
		url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/69484818_1131079417102513_8075945616485646336_o.jpg?_nc_cat=103&_nc_oc=AQnN47hTdola6wwkeInEX7r9Kj3r1OYYs2aa3WIQX7UqAENjgCW-tmC8VHEjv6QDWNQ&_nc_ht=scontent-lax3-1.xx&oh=c97200140db07e8fbd4ea2f5bde67bd2&oe=5E337863);
	url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/69484818_1131079417102513_8075945616485646336_o.jpg?_nc_cat=103&_nc_oc=AQnN47hTdola6wwkeInEX7r9Kj3r1OYYs2aa3WIQX7UqAENjgCW-tmC8VHEjv6QDWNQ&_nc_ht=scontent-lax3-1.xx&oh=c97200140db07e8fbd4ea2f5bde67bd2&oe=5E337863 (2)
	background-color:lightskyblue;
	font-size: 10pt;
	font-familly: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:black;
	line-height: 14pt;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	
	
	/*
========================================
     Custom styles
     ========================================
   */
	
	color: aquamarine;
	font: 300 16px/22px "Open Sans", "Helvetica neue", Helvetica,
		Ariel, sans-serif;
	}

h1 {
font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
font-weight: bold;
line-height: 20pt;
}

header {
font-size: 12pt;
font-weight: bold;
color: #003827;
}

.subheader{
font:12pt Arial;
color: #328C73;
}
.primary-nav {
font-size: 14px;
font-weight: 400;
letter-spacing: .5px;
text-transform: uppercase;
}

<header>
<h1><a href="index.html">Me Page</a></h1>
<nav class = "primary-nav subheader">
<a href="index.html" >Home</a>
<a href="family.html" >My Family</a>
<a href="hobbies.html" >My Hobbies</a>
<a href="pictures.html" >My Picture Gallery</a>
<a href="contact.html" >Contact Me</a>
</nav>

</header>

img {
float: right;
width: 200px;
border:solid;
border-width:5px;
padding:10px;
border-radius:15px; 
float: right;
border-color:#553300;
}

a {
text-decoration: none;
}

a:link, a:visited {
color: #761429;
}

a:hover, a:active {
color: #761429;
}

footer {
font-size: 9pt;
font-style: italic;
line-height: 12pt;
text-align: center;
padding-top: 30pt;
}
.primary-footer {
color: #648880;
font-size: 14px;
padding-bottom: 44px;
padding-top: 44px;
}

.primary-footer small {
float: left;
font-weight: 400;
}

/*
========================================
Grid
========================================
*/

*,
*: before,
*:after {
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	box-sizing:border-box;
}

.container {
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	width: 960px;
	background-color: hsla(200, 100% 24% 0.15);
	border: none;
	border-radius: 15px;
	padding: 5px;
	margin: 10px;
}

/*
========================================
Typography
========================================
*/

h1, h3, h4, h5, p {
	margin-bottom: 22px;
}

/*
========================================
Buttons
========================================
*/

.btn {
	border-radius: 5px;
	display: inline-block;
	margin: 0;
}


.btn-alt {
	border: 1px solid #553300;
	padding: 10px 30px;
}

/*
========================================
Home
========================================
*/

.home {
	padding: 22px 80px 66px 80px;
}


h1, h2, h3, h4 {
	color: red;
}

h1 {
	font-size: 36px;
	line-height: 44px;
}

h2 {
	font-size: 24px;
	line-height: 44px;
}
h3 {
	font-size: 21px;
}

h4 {
	font-size: 18px;
}

h5 {
	color: yellow;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

strong {
	font-weight: 400;
}
cite, em {
	font-style: italic;
}

.primary-nav {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
}
.primary-footer {
	color: #648878;
	font-size: 14px;
	padding-bottom: 44px;
	padding-top: 44px;
}

.primary footer small {
	float: left;
	font-weight: 400;
}

.section {
	line-height: 44px;
	padding: 22px 80px 66px 80px;
	text-align: center;
}


body {
	color: brown;
	font: 200 16px/22px "Arimo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row,
.row-alt {
	min-width: 960px;
}
.row {
	background: #fff;
	padding: 66px 0 44px 0;
}
.row-alt {
	background: #cbe2c1;
	background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
	background: -mox-liner-gradient(to right, #a1d3b0, #f6f1d3);
	background: liner-gradient(to right, #a1b3b0, #f6f1d3);
	padding: 44px 0 22px 0;
}





















